<div class="columns is-multiline is-mobile">
  <% @shoes.each do |shoe| %>
      <div class="column is-one-quarter">
        <%= render shoe %>
      </div>
  <% end %>
</div>
<div class="columns is-centered">
  <%= paginate @shoes %>
</div>
