<nav class="navbar">
  <div class="navbar-menu">
    <%= link_to 'Home', root_path, class: "navbar-item"%>
    <%= link_to 'About Us', about_path, class: "navbar-item"%>
    <%= link_to 'Contact', contact_path, class: "navbar-item"%>
    <%= link_to 'Shoes', shoes_path, class: "navbar-item"%>
  </div>
</nav>